<div>
    <div class="content_title">
        <h2>Add Content</h2>
    </div>
    <div class="card">
        <div class="card-header">Content Form Elements</div>
        <form class="form">
            <div class="form-group">
                <label for="inpTitle" class="form-label">Title</label>
                <input type="text" class="form-control" placeholder="Enter the title" id="inpTitle" />
                <span class="msg-error title_msg"></span>
            </div>
            <div class="form-group">
                <label for="inpBrief" class="form-label">Brief</label>
                <textarea class="form-control" id="inpBrief" rows="2"></textarea>
                <span class="msg-error brief_msg"></span>
            </div>

            <div class="form-group">
                <label for="inpContent" class="form-label">Content</label>
                <textarea class="form-control" id="inpContent" rows="3"></textarea>
                <span class="msg-error content_msg"></span>
            </div>

            <div class="group-btn">
                <button type="button" class="custom_btn" id="btn-submit">Submit button</button>
                <button type="reset" class="custom_btn">Reset button</button>
            </div>
        </form>
    </div>
    <script src="../js/formContent.js"></script>
</div>
