<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>View Content</title>
        <link href="../../../bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../styles/main.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/994a3537ae.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg header">
                <h5>CMS</h5>
                <div class="dropdown">
                    <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item link-edit-profile" href="#">
                                <i class="fa-solid fa-user"></i>
                                <span>User Profile</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="login.html">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid body">
                <div class="sidebar">
                    <div class="sidebar_search">
                        <form class="container-fluid">
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Search"
                                    aria-label="Username"
                                    aria-describedby="basic-addon1"
                                />
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar_list">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a class="link_viewContent">
                                    <i class="fa-solid fa-table-cells"></i>
                                    <span>View contents</span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="link_formContent">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <span>Form content</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content"></div>
            </div>
        </div>
        <!-- script -->
        <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../../node_modules/popper.js/dist/popper.min.js"></script>
        <script src="../../../bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
        <script src="../js/ajax.js"></script>
        <script src="../js/validate.js"></script>
    </body>
</html>
