/* login, register */
.custom_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-center {
    width: 30vw;
}

.form {
    padding: 20px;
}

.form button {
    margin-top: 10px;
    width: 100%;
}

.custom_form-link {
    margin-top: 10px;
    margin-bottom: 0;
}

.btn-green {
    background-color: #19cf19;
    color: #fff;
    transition: 0.3s ease;
    font-weight: 600;
}

.btn-green:hover {
    background-color: #19cf19;
    color: #fff;
    opacity: 0.85;
}

/* edit profile */
.container-fluid {
    padding: 0;
}

.header {
    justify-content: flex-end;
    padding: 10px;
    background-color: #c0c0c0;
    height: 50px;
    border-bottom: 1.5px solid rgb(0 0 0 / 18%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.header div {
    padding: 5px;
}

.dropdown-item span {
    margin-left: 10px;
}

.body {
    display: flex;
    margin-top: 50px;
}

.sidebar {
    background-color: #c0c0c0;
    width: 20vw;
    height: calc(100vh - 50px);
    border-right: 1.5px solid rgb(0 0 0 / 18%);
    position: fixed;
}

.sidebar_search {
    margin: 20px;
    cursor: pointer;
}

.sidebar_list .list-group {
    border-radius: 0;
}

.sidebar_list .list-group-item {
    background-color: transparent;
    border-color: rgb(0 0 0 / 18%);
    border-right: 0;
    color: #0039ffc2;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 30px;
    margin-left: 20vw;
}

.content_title {
    width: 100%;
    border-bottom: 1.5px solid rgb(0 0 0 / 18%);
    margin-bottom: 30px;
}

.form-group input {
    max-width: 800px;
}

.form-group textarea {
    max-width: 800px;
    margin-bottom: 20px;
}

.group-btn {
    display: flex;
}

.custom_btn {
    max-width: 150px;
    margin-right: 20px;
    border: 1.5px solid #c0c0c0;
}

.msg-error {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}
